
/* Yorum satırı */

/*

/********** LAYOUT ************/

        body {
            background-color: black;
            color:white;
            font-family: 'Courier New', Courier, monospace;

    }
        h2 {
            color: rgb(255, 0, 200);
            font-size:100;
        }


        p {
            color: #df046a;
            font-size:46px
        }

        ul {
            color:aqua
        }
