
        h2 {
            color: rgb(255, 0, 200);
            font-size:24px;
        }
        p {
            color: #df046a;
            font-size:46px
        }
        body {background-color:red}